/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

h1 {
  text-align: left;
  font-size: 20px;
}

.product-details {
  padding: 15px;
}

.product-name {
  font-size: 1.2em;
  margin-bottom: 10px;
  font-weight: bold;
}

.product-description {
    font-size: 0.9em;
    margin-bottom: 10px;
  } 

.product-price {
  background-color: pink;
}


/* Estilos de la barra de navegación  */

.navbar {
  background-color: pink !important;
}


/* Media Queries */

@media (max-width: 767px) {
  /* Estilos para pantallas pequeñas */

  h1 {
    font-size: 20px; /* Ajusta el tamaño del texto en celulares */
  }

  .product-details {
    padding: 10px; /* Reduce el padding en celulares */
  }
}

@media (min-width: 768px) {
  /* Estilos para pantallas medianas y mayores */
   .product-template { 
    margin: 10px;
  }
} 

#min-price {
  border: 1px solid rgb(255, 154, 230) ;
  border-radius: 0.8rem;
  width: 100%;
}

#max-price{
  border: 1px solid rgb(255, 154, 230) ;
  border-radius: 0.8rem;
  width: 100%;
}

#filtro-min-max .col-sm-4 {
  flex: 1 1 200px;
}

#filtro-min-max {
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  border-radius: 0.8rem;
  box-shadow: 0 2px 20px rgba(0,0,0,0.1);

}

#filter-container {
  display: none;
}

.select-wrapper {
  width: 200px;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid rgb(255, 154, 230) ;
  border-radius: 0.8rem;
  background-color: white;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.custom-select:hover {
  border-color:rgb(255, 154, 230) ;
}

@media (max-width: 600px) {
  .select-wrapper {
    width: 100%;
  }
}

/* buscador */
 .search-container {
  display: flex;
  align-items: center;
}

#search-products {
  border: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  width: 250px;
}
