* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0 75px;
  width: 100vw;
  overflow-x: hidden;
}
.container {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}
.navbar {
  background-color: pink !important;
  text-align: center !important;
}
.nav-link {
  color: #070707 !important;
  font-size: 20px !important;
  font-weight: bold !important;
}
.nav-link .dark-mode {
  color: #ffffff !important;
  font-size: 20px !important;
  font-weight: bold !important;
}
.navbar .navbar-link:hover {
  color: #f8f9fa !important;
}

form {
  margin-left: auto !important;
  margin-right: auto !important;
}
.fixed-top {
  position: fixed !important;
  top: 0 !important;
  width: 100% !important;
}
img {
  max-width: 100%;
}
header {
  display: flex;
  align-items: center;
  padding: 30px;
  justify-content: center;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 80px;
}
.container-img {
  background-color: #f7f7f9;
  flex: 1;
}
/* carrusel y miniaturas */

.carousel-inner img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.img-thumbnail {
  cursor: pointer;
  max-height: 70px;
  width: auto;
  transition: transform 0.3s ease;
}
.img-thumbnail:hover {
  transform: scale(1.1);
}
/* bloque de información */

.categorie-of-product {
  display: inline-flex;
  padding: 5px 10px;
  background-color: #ac2f61;
  border-radius: 15px;
  font-weight: 400;
  color: white;
  cursor: default;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-left: 0;
  margin: 5;
}
.categorie-of-product {
  margin-right: 5px;
}
.categorie-of-product i {
  margin-right: 10px;
  font-size: 15px;
  margin: 0;
}
.categorie-of-product h3 {
  margin-right: 10px;
  font-size: 15px;
  margin: 0;
}

.container-price {
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container-price span {
  font-size: 30px;
  font-weight: 700;
}
.sold-count-of-product {
  display: inline-flex;
  padding: 5px 10px;
  background-color: #fd85a3;
  border-radius: 15px;
  font-weight: 400;
  color: white;
  cursor: default;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 5px;
  margin-bottom: 5px;
}
.sold-count-of-product:hover {
  background-color: #6e2743;
  color: #f7f7f9;
}
.sold-count-of-product i {
  margin-right: 10px;
  font-size: 15px;
  margin: 0;
}
.sold-count-of-product h3 {
  margin-right: 10px;
  font-size: 15px;
  margin: 0;
}

.container-details-product {
  padding: 30px 0;
}
.container-add-cart {
  display: flex;
  gap: 20px;
  padding-bottom: 30px;
}
.container-quantity {
  position: relative;
}
.input-quantity {
  background-color: #f7f7f9;
  border: none;
  padding: 10px;
  width: 60px;
  height: 100%;
  color: #666;
  font-weight: 500;
}
.input-quantity:focus {
  outline: none;
}
.input-quantity::-webkit-inner-spin-button,
.input-quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.btn-increment-decrement {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 7px;
  margin-left: 2px;
}

.btn-increment-decrement i {
  font-size: 11px;
  color: #969696;
  cursor: pointer;
}

.fa-chevron-down:hover {
  color: rgb(24, 24, 24);
}
.fa-chevron-up:hover {
  color: rgb(24, 24, 24);
}
.btn-buy {
  border: none;
  background-color: #f35079;
  padding: 10px 200px;
  color: #f7f7f9;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 5px;
}
.btn-buy:hover {
  color: white;
  background-color: #4e0b26;
}
.btn-seguir{
border: none;
  background-color: #f35079;
  padding: 10px 200px;
  color: #f7f7f9;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 300;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 5px;
}
.hidden {
  display: none;
}
.container-description,
.container-additional-information {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  margin-top: 5px;
}

.title-description,
.title-additional-information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.title-description h4,
.title-additional-information h4 {
  font-weight: 300;
  color: #666;
  font-size: 14px;
}
.text-description,
.text-additional-information {
  font-size: 13px;
  color: #252525;
  line-height: 22px;
  margin-top: 25px;
}

/* Productos relacionados */

.titulo {
  text-align: center;
  margin-bottom: 20px;
}

.title-related-products h2 {
  font-size: 24px;
  font-weight: 700;
  color: #333;
}

.container-related-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrar las cartas */
  gap: 15px; /* Reducir el espacio entre las cartas */
  padding: 30px;
  max-width: 100%;
}

.card-list-products {
  flex: 1 1 20%;
  max-width: 20%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

/* Diseño responsivo para las tarjetas */
@media (max-width: 1200px) {
  .card-list-products {
    flex: 1 1 30%;
    max-width: 30%;
  }
}

@media (max-width: 768px) {
  .card-list-products {
    flex: 1 1 45%;
    max-width: 45%;
  }
}

@media (max-width: 576px) {
  .card-list-products {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  border-radius: 5px;
  padding: 5px;
}
body.dark-mode .card {
  background-color: #1a1919;
  color: #f7f7f9;
}

/* Estilos adicionales para el texto dentro de las tarjetas en modo oscuro */
body.dark-mode .text-product h3,
body.dark-mode .price,
body.dark-mode .description-of-related-products {
  color: #f7f7f9;
}

.card-img-related-product {
  background: transparent;
  margin-bottom: 1px;
}

.card-img-related-product img {
  max-width: 100%;
  height: auto;
}

.info-card {
  margin-top: 10px;
  text-align: left;
}

.category {
  font-size: 15px;
  align-items: center;
  text-align: center;
  display: inline-flex;
  padding: 3px 8px;
  background-color: #ac2f61;
  border-radius: 20px;
  font-weight: 400;
  color: white;
  cursor: default;
}

/* Centrar categoría en pantallas pequeñas */
@media (max-width: 576px) {
  .category {
    display: block;
    text-align: center;
  }
}

.category i {
  align-items: center;
  margin-right: 10px;
  font-size: 15px;
  margin-right: 4px;
  margin-top: 4px;
}

.text-product {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
  text-align: left;
  margin-bottom: 5px;
  color: #252525;
  font-weight: 400;
  line-height: 1.4;
}

.price {
  font-size: 20px;
  font-weight: 600;
  margin-top: 10px;
}

.text-product h3 {
  margin: 0;
  color: #252525;
  font-weight: inherit;
  font-size: inherit;
}

.text-product h3:hover {
  color: rgb(24, 24, 24);
}

.text-product p {
  color: #666;
  font-size: 13px;
}

.text-product p:hover {
  color: rgb(24, 24, 24);
}

.description-of-related-products {
  color: #555; /* Cambiado a un color más oscuro */
  font-weight: 300;
  margin-top: 10px;
}

/*controles de valoracion*/

/* Estilo para el área de texto */
textarea {
  min-width: 30%;
  resize: none;
  max-height: 200px;
  border: none;
  border: 1px solid #666;
  border-radius: 4px;
  background-color: #ededed;
}
/*Estilo para el comentario*/
.comment-container {
  font-size: 16px;
  font-weight: 500;
}
/*Estilos para estrellas*/
.container {
  flex-direction: column;
  gap: 40px;
}
.rating {
  position: relative;
  left: -830px;
  display: flex;
  flex-direction: row-reverse;
  padding: 30px 40px;
  gap: 4px;
}
.rating:nth-child(1) {
  transform: translateX(-40px);
}
.rating input {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}
.rating input::before {
  content: "\f005";
  position: absolute;
  font-family: fontAwesome;
  font-size: 34px;
  color: #111;
  transition: 0.5s;
}
.rating input:hover ~ input::before,
.rating input:hover ::before,
.rating input:checked ~ input::before,
.rating input:checked::before {
  color: var(--c);
}
/*Estilos para el boton*/
.boton {
  background-color: #f35079;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.boton:hover {
  background-color: #fcbee9;
}

/* Estilos para el título "Calificaciones de los usuarios" */
.titulo-calificaciones {
  background-color: #ac2f61; /* Fondo rosa claro */
  border-radius: 10px; /* Bordes redondeados */
  padding: 10px;
  color: #ffffff; /* Texto en un tono rosa oscuro */
  font-size: 1.5rem;
  margin-bottom: 20px; /* Separación del contenido siguiente */
  max-width: 300px; /* Limitar el ancho del título */
  text-align: left; /* Alinear el texto a la izquierda */
}

/* Estilo para la información del usuario */
.user-info {
  display: flex;
  align-items: center; /* Estrellas alineadas con el nombre */
  font-weight: bold;
  margin-bottom: 5px;
}

/* Ajuste para las estrellas pegadas al nombre */
.user-rating {
  margin-left: 5px; /* Pequeña separación entre el nombre y las estrellas */
  display: flex;
}

.star {
  color: #ffc107 !important;
  font-size: 1.5rem; /* Tamaño de las estrellas */
  margin-left: 2px; /* Espacio entre las estrellas */
}

.empty-star {
  color: #6c757d !important; /* Color gris oscuro */
}

body.dark-mode .rating input {
  color: #8a8a8a !important;
  border: 1px solid #fff;
}

.user-info span {
  font-size: 0.9rem;
  color: #888;
}

.comment p {
  margin-top: 10px;
  font-size: 1rem;
  color: #333;
}
